[defaults]
inventory = ./hosts
remote_user = ubuntu
private_key_file = ~/.ssh/${key_name}
command_warnings=False
deprecation_warnings=False
# To ignore known_hosts issue
host_key_checking=False

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes