auth_url    = "AUTH_URL_FROM_RC_FILE"
user_name   = "CS_CLOUD_USERNAME"
password    = "CS_CLOUD_PASSWORD"
region      = "CS_CLOUD_REGION"
tenant_name = "TENANT_NAME_FROM_RC_FILE"
tenant_id   = "TENANT_ID_FROM_RC_FILE"
key_pair    = "CS_CLOUD_KEY_PAIR_NAME"
key_name    = "xxdddxx_key_ssh.pem"
external_network_id = "EXTERNAL_PUBLIC_NETWORK_ID"